<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>NSA Doc Searching</title>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= stylesheet_link_tag params[:controller], media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag params[:controller] %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/navbar' %>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
